@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-comatch-primary: #3b82f6;
  --color-comatch-light: #93c5fd;
  --color-comatch-success: #4ade80;
  --color-comatch-danger: #f87171;
  --color-comatch-background: #f8fafc;

  --radius-card: 16px;
  --radius-pill: 9999px;

  /* Fonts */
  --font-primary: var(--font-crimson), ui-serif, Georgia, serif;
  --font-heading: var(--font-young-serif), ui-serif, Georgia, serif;
  --font-quote: var(--font-cormorant), ui-serif, Georgia, serif;

  /* Font Sizes */
  --text-mini: 0.875rem;
  --text-mini--line-height: 1.25rem;

  --text-primary: 1rem;
  --text-primary--line-height: 1.5rem;

  --text-heading: 1.5rem;
  --text-heading--line-height: 2rem;

  --text-heading-lg: 2.25rem;
  --text-heading-lg--line-height: 2.5rem;
}

:root {
  --background: --color-comatch-background;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
